@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    France Bat<br />
    Le Muy<br />
    <abbr title="Phone">Téléphone:</abbr>
    06 52 73 36 01
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:francebat@outlook.fr">francebat@outlook.fr</a>
</address>